.cardMenu{
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px;
}
.ItemDiv{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    border-bottom: 1px dotted;
    padding-bottom: 15px;
}